body{
    background-color:#020f21;
    height: 100vh;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1,h2{
    color: aliceblue;
}

button{
    font-family: 'Roboto Mono', monospace;
    color: aliceblue;
    background-color:#1b2f7d;
    font-size: large;
    padding: 4px;
    margin: 2px;
    border-radius: 7px;
}

.game-container{
    background-color: #1b2f7d;
    font-family: 'Roboto Mono', monospace;
    height: 250px;
    width: 550px;
    padding: 25px;
    margin-bottom: 25px;
    border: solid aliceblue 4px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
.selection{
    display: flex;
    flex-direction: column;
    
}

.points{
    display: flex;
    flex-direction: column;
}
.result{
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choice-container{
    display: flex;
    margin-bottom: 1.5em;
}